<form action="" method="POST">
    <label for="username-input">Username</label>
    <input id="username-input" type="text" name="username">
    <label for="password-input">password</label>
    <input id="password-input" type="text" name="password">
    <button>Sign In</button>
</form>